{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<!--{% load static %}-->
<!--<img src="{% static 'result.png' %}">-->
<p>
    The script for the randomiser was written a few years ago. I made it
    because I wanted a way to practise my differentiation skills when I
    was taking calculus. And I also always liked the randomness aspect of
    things.
</p>
<p>
    I decided to make it into a website because I wanted to learn Django. In
    the future, I might extend this to generate multivariable functions or integrals,
    but the integrals generated might not have elementary form.
</p>
{% endblock %}